# Dependencies
client/node_modules/
server/node_modules/

# Environment files
client/.env
server/.env

# Build folders
client/dist
client/dist-ssr

# Uploads
server/uploads/

# Logs
*.log

# OS
.DS_Store

# VS Code
.vscode/

# IDE
.idea/